{% extends 'base.html' %}
{% load static %}
{% block title %}Магазин - Commery{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="company_main-wrapper">
        <div class="account_header-wrapper">
            <div class="account_nav-menu" style="border-bottom: 1px solid #dbdbdb">
                <ul class="account_nav-list">
                    <li class="account_nav-item">
                        <a href="{% url 'users:profile' %}" class="account_nav-link">
                            Аккаунт
                        </a>
                    </li>
                    <li class="account_nav-item">
                        <a href="{% url 'users:companies_list' %}" class="account_nav-link nav_link-active">
                            Магазин
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if current_api_key %}
        {% for key in api_keys %}
        <div class="company_info-wrapper">
            <div class="company_info-item">
                <div class="company_info-header">
                    <h1>{{ key.name }}</h1>
                    <p>Название магазина</p>
                </div>
                <div class="company_info-middle">
                    <div class="api_key-background"></div>
                    <p>API ключ</p>
                </div>
                <div class="company_info-footer">
                    <h1 class="footer_title">Налоги</h1>
                    <div class="help_info-wrapper">
                        <img src="{% static 'images/attention (2).svg' %}" alt="">
                        <p>укажите ставку налога и она будет учтена при расчете прибыли от продаж</p>
                    </div>
                    {% if key.taxes.all %}
                    {% for tax in key.taxes.all %}
                    <div class="company_tax-item">
                        <div class="tax_data-item">
                            <h1>{{ tax.tax_rate|floatformat:0 }}%</h1>
                            <p>Ставка налога</p>
                        </div>
                        <div class="tax_data-item">
                            <h1>{{ tax.commencement_date|date:'d.m.Y' }}</h1>
                            <p>Дата начала действия ставки</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="company_tax-item">
                        <div class="tax_data-item">
                            <h1>0%</h1>
                            <p>Ставка налога</p>
                        </div>
                        <div class="tax_data-item">
                            <h1>дд.мм.гггг</h1>
                            <p>Дата начала действия ставки</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="company_info-links">
                <form action="{% url 'users:company_delete' key.id %}" method="post" class="delete_company-form">
                    {% csrf_token %}
                    <button type="submit">удалить магазин</button>
                </form>
                <a href="{% url 'users:company_edit' key.id %}">Редактировать</a>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="company_edit-wrapper">
            <div class="company_edit-item">
                <form action="." method="post" class="company_edit-form">
                    {% csrf_token %}
                    <div class="company-edit-body">
                        <div class="company_edit-top">
                            <div class="company_edit-name">
                                <input type="text"
                                       name="{{api_key_form.name.html_name}}"
                                       value="{{api_key_form.api_key.value|default_if_none:''}}"
                                       class="shop_name-input {% if api_key_form.name.errors %}invalid_input{% endif %}"
                                       maxlength="65"
                                       required=""
                                       id="{{api_key_form.name.id_for_label}}"
                                >
                                <div class="middle_info-items">
                                    <label for="id_name">Название магазина</label>
                                    {{ api_key_form.name.errors }}
                                </div>
                            </div>
                            <div class="company_edit-key">
                                <textarea name="{{api_key_form.api_key.html_name}}"
                                          cols="3"
                                          rows="2"
                                          class="api_key-input {% if api_key_form.api_key.errors %}invalid_input{% endif %}"
                                          maxlength="655"
                                          required=""
                                          id="{{api_key_form.api_key.id_for_label}}">{{ api_key_form.api_key.value|default_if_none:'' }}</textarea>
                                <div class="middle_info-items">
                                    <label for="id_api_key">Api ключ. <a href="https://seller.wildberries.ru/supplier-settings/access-to-api" target="_blank" style="color: #ff8364">создать ключ статистики</a></label>
                                    {{ api_key_form.api_key.errors }}
                                    <a href="https://commery.ru/where-key" target="_blank">где взять ключ?</a>
                                </div>
                            </div>
                        </div>
                        <div class="company_edit-middle">
                            <h1 class="footer_title">Налоги</h1>
                            <div class="help_info-wrapper">
                                <img src="{% static 'images/attention (2).svg' %}" alt="">
                                <p>укажите ставку налога и она будет учтена при расчете прибыли от продаж</p>
                            </div>
                        </div>
                        <div class="company_edit-footer">
                            <div class="tax_inputs-item" id="tax_input">
                                <div class="input-item">
                                    <input type="number" step="any" id="tax_rate" placeholder="%" name="tax_rate" style="width: 90px;">
                                    <label for="tax_rate">Ставка налога</label>
                                </div>
                                <div class="input-item">
                                    <input type="date" value="" id="commencement_date" name="commencement_date">
                                    <label for="commencement_date">Дата начала действия</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="add_tax-button" id="add_tax">Добавить ставку</button>
                    </div>
            </div>
            <div class="company_edit-buttons">
                <button class="send_form-button" type="submit">Сохранить</button>
            </div>
            </form>
        </div>
        {% endif %}
        <div class="delete_warning-wrapper" id="warning_wrapper">
            <div class="delete_warning-container">
                <img class="delete_warning-img" src="{% static 'images/iconizer-4201973.svg' %}" alt="">
                <p class="delete_warning-text">С удалением магазина будут стерты все <br> данные, загруженные из Wildberries!</p>
                <div class="delete_warning-buttons">
                    <button class="cancel_delete-button" type="button" id="cancel_btn">Отменить</button>
                    <button class="accept_delete-button" type="submit" id="accept_btn">Подтвердить удаление</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'users/js/profile.js' %}"></script>
<script src="{% static 'users/js/companies_list.js' %}"></script>
{% endblock %}