{% extends 'base.html' %}
{% load static %}
{% block title %} Склад - Commery {% endblock %}
{% block content %}
<div class="container">
    <div class="empty_products-wrapper">
        <h1 class="empty_products-title">Страница товаров магазина</h1>
        <h3 class="empty_products-description">Все товары, участвовавшие в продажах, будут отображены здесь. На странице устанавливается себестоимость товаров</h3>
        <div class="empty_products_status-wrapper">
            <div class="empty_products_status-item">
                <p>Шаг 1: Подключить магазин</p>
                {% if not current_api_key %}
                <a href="{% url 'users:companies_list' %}">Подключить</a>
                {% else %}
                <img src="{% static 'images/check (2).svg' %}" alt="" class="empty_reports_success-img">
                {% endif %}
            </div>
            <div class="empty_products_status-item">
                <p>Шаг 2: Автоматически загрузить отчеты</p>
                {% if current_api_key and not current_api_key.is_wb_data_loaded %}
                <form class="load_report-form" action="{% url 'users:send_request_for_report' %}" method="post">
                    {% csrf_token %}
                    {% if current_api_key.is_active_import %}
                    <button
                            class="load_reports-button loading"
                            id="load-btn"
                            data-process-type="Загрузить"
                            data-check="true"
                            disabled
                            data-url="{% url 'users:check_reports_loading_status' %}"
                            data-redirect-url="{% url 'reports:dashboard' %}"
                            type="submit">Загрузить</button>
                    {% else %}
                    <button
                            class="load_reports-button"
                            id="load-btn"
                            data-process-type="Загрузить"
                            data-check="false"
                            type="submit">Загрузить</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
        </div>
        <div class="empty_products_possibilities-wrapper">
            <div class="empty_products_possibilities-item">
                <img src="{% static 'images/possibilities_img9.png' %}" alt="" class="possibilities_img">
                <h3 class="possibilities_title">Список товаров</h3>
                <ul class="possibilities_list" style="text-align: left">
                    <p class="possibilities_description">УДОБНЫЙ ДЛЯ РАБОТЫ СПИСОК ТОВАРОВ:</p>
                    <li style="margin-left: 12px;">Фото</li>
                    <li style="margin-left: 12px;">Брэнд</li>
                    <li style="margin-left: 12px;">Артикул</li>
                    <li style="margin-left: 12px;">Название</li>
                </ul>
            </div>
            <div class="empty_products_possibilities-item">
                <img src="{% static 'images/possibilities_img10.png' %}" alt="" class="possibilities_img">
                <h3 class="possibilities_title">УСТАНОВКА СЕБЕСТОИМОСТИ</h3>
                <p class="possibilities_description">УКАЖИТЕ СЕБЕСТОИМОСТЬ ТОВАРОВ И ОНА БУДЕТ УЧТЕНА В РАСЧЕТЕ ЧИСТОЙ ПРИБЫЛИ МАГАЗИНА</p>
            </div>
            <div class="empty_products_possibilities-item">
                <img src="{% static 'images/possibilities_img11.png' %}" alt="" class="possibilities_img">
                <h3 class="possibilities_title">УСТАНОВКА СЕБЕСТОИМОСТИ НА ПЕРИОД</h3>
                <p class="possibilities_description">МОЖЕТЕ УСТАНОВИТЬ НЕОГРАНИЧЕННОЕ КОЛИЧЕСТВО ЗНАЧЕНИЙ СЕБЕСТОИМОСТИ</p>
            </div>
            <div class="empty_products_possibilities-item">
                <img src="{% static 'images/possibilities_img12.png' %}" alt="" class="possibilities_img">
                <h3 class="possibilities_title">МАССОВАЯ УСТАНОВКА СЕБЕСТОИМОСТИ ФАЙЛОМ</h3>
                <p class="possibilities_description">ДОСТУПНА ЕДИНОВРЕМЕННАЯ ЗАГРУЗКА ЗНАЧЕНИЙ СЕБЕСТОИМОСТИ ДЛЯ ВСЕХ ТОВАРОВ ОДНИМ ФАЙЛОМ</p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'reports/js/reports_loader.js' %}"></script>
{% endblock %}