.products-container {
    align-self: flex-start;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    max-height: calc(100vh - 225px);
    gap: 11px;
    flex: 1;
}

.abx__xyz-wrapper__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.abc__xyz-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    flex-shrink: 0;
    flex-basis: 409px;
}

.abc__xyz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abc__xyz-items {
    display: flex;
    cursor: pointer;
    flex: 1;
    gap: 11px;
    flex-wrap: wrap;
}

.abc__xyz-description {
    display: flex;
    gap: 15px;
    align-items: center;
}

.abc__xyz-description__vertical {
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    align-items: center;
    top: 105px;
    left: -32px;
    gap: 15px;
}

.abc__xyz-description__vertical svg {
    transform: rotate(90deg);
}

.abc__xyz-description svg {
    transform: rotate(90deg);
}

.abc__xyz-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 115px;
    border: 1px solid var(--var-border-color);
    padding: 10px;
    border-radius: 7px;
}

.abc__xyz-item__small {
    width: 106px !important;
}

.abc__xyz-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}