/* MAIN CONTENT */
.main_content-wrapper {
    display: grid;
    grid-template-areas:
                    'graphs report_block'
                    'graphs report_block'
                    'products_list-block report_block';
    grid-template-columns: 65% 35%;
    grid-auto-rows: minmax(0, auto);
}

.graphic_block {
    grid-area: graphic_block;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 15px 20px;
    align-self: start;
}

.graphs-bar-filter_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}


/*GRAPHS FILTERING START */

.graphs-bar-filter_title {
    font-size: 11px;
    margin-bottom: 5px;
}

/* Кнопка выпадающего списка */
.graphs-dropbtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #DBDBDB;
    color: black;
    padding: 5px 10px;
    min-width: 194px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 8px;
    margin-bottom: 5px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.filter-dropdown_wrapper {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.filter-dropdown_content {
    display: none;
    position: absolute;
    min-width: 194px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 15;
}

/* Ссылки внутри выпадающего списка */
.filter-dropdown_content p {
    color: black;
    font-size: 8px;
    text-transform: uppercase;
    padding: 5px 0;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.graphs-filter_label {
    display: flex;
    cursor: pointer;
    gap: 15px;
    padding-left: 10px;
    align-items: center;
}

.graphs-filter_label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.graphs-filter_label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.graphs-filter_label>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DBDBDB;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.graphs-filter_label>input:checked+span::before {
    background-image: url('/static/images/active_filter_checkbox.svg');
    border: none;
}

.graphs-filter_label:hover {opacity: .8;}

.apply-graphs-filter_btn {
    text-align: center;
    font-size: 8px;
    background-color: #ff8364;
    padding: 5px 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 30px;
}

/*GRAPHS FILTERING END */

.doughnut_diagrams-wrapper {
    margin-top: 55px;
    grid-area: doughnut_diagrams-wrapper;
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 15px 20px;
    align-self: start;
}

.diagram_text {
    color: #9c9a9a;
    font-size: 8px;
}

.products_list-block {
    grid-area: products_list-block;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    background-color: white;
    border-radius: 10px;
    align-self: start;
}

.report_block {
    grid-area: report_block;
    align-self: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 58px;
    padding-bottom: 19px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}



/* report block styling */

.report_title-block {
    text-align: center;
}

.report_title {
    font-weight: bold;
    font-size: 25px;
}

.report_subtitle {
    color: #9c9a9a;
    text-transform: uppercase;
    font-size: 8px;
    margin-top: 10px;
}

.top_report-block {
    display: flex;
    gap: 20px;
    padding-top: 19px;

}

.top_block-item {
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 171px;
    height: 171px;
}


.top_block-title {
    font-weight: bold;
    font-size: 25px;
}

.top_block-subtitle {
    text-transform: uppercase;
    color: #9c9a9a;
    font-weight: normal;
    font-size: 11px;
    margin-top: 3px;
}


.middle_report-block {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 32px;
    margin-top: 32px;
}

.middle_block-item {
    align-items: center;
    text-align: center;
}


.footer_report-block {
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    display: flex;
    padding-bottom: 32px;
    padding-top: 32px;
    justify-content: space-between;
}

.footer_block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
    width: 47%;
    text-align: center;
    align-items: center;
}


.footer_block-title {
    font-weight: bold;
    font-size: 17px;
}

.footer_block-subtitle {
    text-transform: uppercase;
    color: #9c9a9a;
    font-size: 8px;
}

.footer_hint {
    display: flex;
    align-items: center;
}

.left {
    flex-grow: 1;
}

.left h1 {
    text-align: center;
}

.right img {
    width: 14px;
    height: 14px;
}

.error_list_item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.error_list_item span {
    font-size: 11px;
    color: #ff8364;
}


/* report block styling end */


/* products block styling start */
.products_filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.products_filter-item p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
}

.products_filter-item img {
    width: 15px;
    height: 15px;
}

.products_block-filters {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
    padding-bottom: 6px;
    padding-right: 20px;
}

.products_block {
    overflow: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.plug {
    width: 60px;
}

.products_block::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.products_block::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 2px;
}


.product_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    padding-right: 20px;
}

.barcode {
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 8px;
}

.text-wrapper {
    width: 82px;
    text-align: center;
}

.product_statistic {
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}

.product_img {
    background: url("/static/images/Rolling-1s-80px.svg") center / 20px no-repeat;
    width: 60px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

/* products block styling end */


/* MAIN CONTENT END */

/* GRAPHICS BLOCK START*/


.graphs {
    font-family: Arial, sans-serif;
}

.graphs-bar-prewrap {
    height: 400px;

    border-radius: 10px;



    background-color: #fff;

    margin-bottom: 20px;
    padding: 20px 20px;

    box-sizing: border-box;
}

.graphs-bar-wrap {
    width: 100%;
    height: auto;
    box-sizing: border-box;

    border: 1px solid #dbdbdb;

    border-radius: 10px;
    padding: 0;

    background-color: #fff;
    margin-bottom: 0;
}

.graphs-bar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 15px 20px;

    box-sizing: border-box;
}

.invalid_reports-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}

.invalid_reports-text {
    color: #ff8364;
    font-size: 11px;
}

.graphs-bar__bars {
    width: 100%;
    height: 185px;
    box-sizing: border-box;

    padding: 0;

    position: relative;
}

.graphs-bar__profit,
.graphs-bar__revenue {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: flex-end;

    position: relative;
}

.graphs-bar__revenue:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #dbdbdb;

    position: absolute;
    z-index: 1;
}

.graphs-bar__profit {
    height: 0;

    position: absolute;
    left: 0;
    bottom: 0;

    padding: 0;
}



.graphs-bar__profit-item,
.graphs-bar__revenue-item {
    display: block;

    width: 100%;
    height: 100%;
    background-color: #dbdbdb;

    margin: 0 5px;

    max-width: 43px;

    cursor: pointer;
}

.graphs-bar__revenue-item {
    border-radius: 5px 5px 0 0;
}

.graphs-bar__profit-item-check {
    display: block;

    width: 100%;
    height: 100%;
    background-color: #dbdbdb;

    margin: 0 5px;
}


.graphs-bar__profit-item {
    background-color: #ff8364;
    border-radius: 5px 5px 0 0;
}
.graphs-bar__profit-item.border-radius-bottom {
    border-radius: 0 0 5px 5px;
}


.graphs-bar__count {
    width: 100%;
    box-sizing: border-box;

    display: flex;

    padding: 0;
    margin-top: 0px;
}
.graphs-bar__count-item {
    display: block;

    font-size: 8px;

    border: 1px solid #dbdbdb;
    border-radius: 8px;

    width: 100%;
    max-width: 43px;
    box-sizing: border-box;

    text-align: center;

    margin: 10px 5px 0;
    padding: 5px 10px;
}

.graphs-bar__count-item-min {
    padding: 0;
    border: none;
}



/* --- UPDATE --- */
.graphs-bar-update {
    font-family: Arial, sans-serif;
    font-size: 10px;

    padding: 20px;
}

.graphs-bar-update__title {
    font-weight: 700;
}

.graphs-bar-update__link {
    color: #000;
    text-decoration: underline;
}

/*   LEGEND   */
.graphs-bar__legend {
    margin: 15px auto 0;

    display: flex;
    justify-content: center;
}
.graphs-bar__legend-item {
    color: #9c9a9a;

    font-size: 8px;
    text-transform: uppercase;

    position: relative;
    margin-left: 35px;
}

.graphs-bar__legend-item:before {
    content: '';

    display: block;
    border-radius: 50%;

    width: 15px;
    height: 15px;

    background-color: #dbdbdb;

    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}



.graphs-bar__legend-item:nth-child(1):before {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.graphs-bar__legend-item:nth-child(3):before {
    background-color: #ff8364;
}

.graphs-bar__legend-item.graphs-bar__legend-item-min:before  {
    content: '1';
    border: none;
    text-align: center;
    font-size: 12px;
}

/* --- TOOLTIP --- */
.graphs-bar__tooltip {
    position: absolute;
    top: -10px;
    right: -15px;

    display: flex;
    flex-direction: row-reverse;
}

.graphs-bar__tooltip-btn {
    color: #ff8364;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    width: 20px;
    height: 20px;

    /*background-color: transparent;
    background-image: url('/static/images/icon_q.png');
    background-size: 50% 80%;
    background-position: center;
    background-repeat: no-repeat;*/

    border: 2px solid #ff8364;
    border-radius: 50%;

    cursor: pointer;

    transition: 0.3s;
}
/*.graphs-bar__tooltip-btn:hover {
	background-color: #dbdbdb;

	transition: 0.3s;
}*/

.graphs-bar__tooltip-info {
    display: none;
    width: 255px;

    border: 1px solid #dbdbdb;
    border-radius: 5px;

    font-size: 8px;
    color: #9c9a9a;
    text-transform: uppercase;
    background-color: #fff;

    padding: 7px;
    margin-top: 22px;

    z-index: 100;
}
.graphs-bar__tooltip-info.showed {
    display: block;
}


.graphs-bar__info {
    opacity: 0;

    width: auto;

    color: #fff;

    background-color: #4b4b4b;
    box-sizing: border-box;
    border-radius: 10px;

    position: absolute;
    bottom: 0;
    left: 0;

    pointer-events: none;

    transform: translate(-50%, 100%);

    font-size: 10px;

    padding: 15px 9px;

    z-index: 15;
}
.graphs-bar__info.showed {
    opacity: 1;
}

.graphs-bar__info-480px {
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}
/*.graphs-bar__info-768px .graphs-bar__info-add {
	transform: translate(50%);
}*/

.left768px {
    transform: translate(0, 100%);
}
.right768px {
    transform: translate(0, 100%);
}

.graphs-bar__info-title {
    text-align: center;
    border-bottom: 1px solid #fff;

    padding-bottom: 5px;
    margin-bottom: 8px;
}

.graphs-bar__info-text {
    display: flex;
    flex-direction: column;


}

.graphs-bar__info-string {
    font-size: 8px;
    color: #fff;

    margin-top: 5px;
    padding-left: 15px;

    white-space: nowrap;

    position: relative;
}
.graphs-bar__info-string:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;

    border-radius: 50%;

    background-color: #dbdbdb;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0px;
}

.graphs-bar__info-add {
    display: block;
    width: 10px;
    height: 10px;

    border: 1px solid #fff;
    border-radius: 50%;

    background-color: #4b4b4b;

    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
}

.left768px .graphs-bar__info-add {

}


.graphs-bar__info-string:nth-child(1):before,
.graphs-bar__info-string:nth-child(2):before,
.graphs-bar__info-string:nth-child(3):before {
    background-color: #ff8364;
}



.graphs-diog-wrap {
    display: flex;
    justify-content: space-between;

    height: 239px;
    box-sizing: border-box;

    border-radius: 10px;
    background-color: #fff;
    padding: 0 20px 20px;
}
.graphs-diog__wrap {
    display: flex;
}

.graphs-diog__title {
    color: #9c9a9a;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;

    margin: 20px 0;
}

.graphs-diog {
    display: flex;
    flex-direction: column;

    width: 50%;

    height: 169px;
    box-sizing: border-box;
}

.graphs-canvas-wrap {
    width: 169px;
    height: 169px;
}

.graphs-diog__item {
    width: 50%;
}
.graphs-diog__legend {
    width: 50%;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphs-diog__legend-text {
    width: 100%;

    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;

    /*margin-bottom: 3px;*/
    margin: 5px 0;
}
.graphs-diog__legend-text.hidden {
    display: none;
}

.graphs-diog__legend-text-content {
    max-width: calc(100% - 60px);
    white-space: nowrap;

    overflow: hidden;
}

.graphs-diog__legend-color {
    display: block;

    width: 40px;
    height: 10px;

    border-radius: 5px;

    margin-right: 10px;
}

.graphs-diog__legend-color.graphs-diog__legend-color1 {
    background-color: #ff562b;
}
.graphs-diog__legend-color.graphs-diog__legend-color2 {
    background-color: #ff815c;
}
.graphs-diog__legend-color.graphs-diog__legend-color3 {
    background-color: #ffa78b;
}
.graphs-diog__legend-color.graphs-diog__legend-color4 {
    background-color: #ffcabc;
}
.graphs-diog__legend-color.graphs-diog__legend-color5 {
    background-color: #edecec;
}
.graphs-diog__legend-color.graphs-diog__legend-color6 {
    background-color: #dfe5e9;
}
.graphs-diog__legend-color.graphs-diog__legend-color7 {
    background-color: #d6dde6;
}
.graphs-diog__legend-color.graphs-diog__legend-color8 {
    background-color: #b9cee2;
}
.graphs-diog__legend-color.graphs-diog__legend-color9 {
    background-color: #c1d2e3;
}

@media screen and (max-width: 768px) {

    .graphs-bar-prewrap {
        padding: 20px;
    }

    .graphs-bar-wrap {
        padding: 20px;
    }

    .graphs-bar__revenue-item {
        margin: 0 2px;
    }

    .graphs-bar__profit-item {
        margin: 0 2px;
    }

    .graphs-bar__count-item {
        margin: 0 2px;
    }


    .graphs-bar__tooltip {
        top: -10px;
        right: -10px;
    }




    .graphs-diog-wrap {
        flex-direction: column;

        padding: 20px;
    }

    .graphs-diog {
        width: 100%;
    }
    .graphs-diog:first-child {
        margin-bottom: 30px;
    }

    .graphs-diog__legend {
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .graphs-bar__bars {
        margin-top: 0;

        padding-bottom: 30px;
    }

    .graphs-bar-wrap {
        height: 500px;
    }


    .graphs-diog__legend-text-content {
        font-size: 10px;
    }
    .graphs-diog__legend-color {
        height: 15px;
    }

    .graphs-bar__count-item {
        font-size: 10px;
        border: none;
    }

    .graphs-bar__tooltip-info {
        width: 100%;

    }

    .graphs-bar__legend-item {
        font-size: 8px;
    }

    .graphs-diog__legend-text-content {
        font-size: 8px;
    }

    .graphs-bar-update__link {
        display: block;
        text-decoration: underline;
    }
    .graphs-bar-update {
        font-size: 10px;
    }
}


