.barcodes__report-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: 75vh;
}

/* FILTERING BLOCK START */

.barcodes__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download_link {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #EF8061 !important;
    text-decoration: underline;
}

.download_link:hover {
    color: #EF8061;
}

.barcodes__report-filters {
    display: flex;
    gap: 20px;
    align-items: center;
}

.graphs-bar-filter_title {
    font-size: 11px;
    margin-bottom: 5px;
}

.graphs-dropbtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #DBDBDB;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 8px;
}


.filter-dropdown_wrapper {
    position: relative;
    display: inline-block;
}


.filter-dropdown_content {
    display: none;
    position: absolute;
    padding: 10px;
    margin-top: 2px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 15;
}

.filter-dropdown-items__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-dropdown_item {
    background-color: #f4f4f4;
    border-radius: 7px;
    padding: 15px 10px 15px 10px;
    height: 300px;
    min-width: 180px;
    overflow: auto;
    overflow-x: hidden;
}

.filter-dropdown_item::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.filter-dropdown_item::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 2px;
}

.filter-dropdown_item h3 {
    font-size: 8px;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}


.filter-dropdown_content p {
    color: black;
    font-size: 8px;
    text-transform: uppercase;
    padding: 5px 0;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.graphs-filter_label {
    display: flex;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    min-width: 180px;
}

/*.graphs-filter_label p {*/
/*    color: #9c9a9a;*/
/*    text-decoration: line-through;*/
/*}*/

.graphs-filter_label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.graphs-filter_label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.graphs-filter_label>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DBDBDB;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.graphs-filter_label>input:checked+span::before {
    background-image: url('/static/images/active_filter_checkbox.svg');
    border: none;
}

.graphs-filter_label:hover {opacity: .8;}

.filter-errors__text {
    text-align: center;
    font-size: 8px;
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff8364;
}

.apply-graphs-filter_btn {
    text-align: center;
    font-size: 8px;
    background-color: #ff8364;
    padding: 8px 39px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 30px;
}


.reset-graphs-filter_btn {
    font-size: 8px;
    text-decoration: underline;
    font-weight: bold;
}

.reset-graphs-filter_btn:hover {
    text-decoration: none;
}

.change__report-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
}

.current__report-text {
    font-size: 8px;
    text-transform: uppercase;
}

.current__report-text__active {
    color: #ff8364;
}

.switch {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 10px;

}

.current__report-switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.current__report-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background-color: transparent;
    transition: .4s;
}

.current__report-switch__slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 0;
    top: -2.5px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ff8364;
    transition: .4s;
}


.current__report-switch__input + .current__report-switch__slider {
    box-shadow: 0 0 1px #2196f3;
}

.current__report-switch__input:checked + .current__report-switch__slider {

}

.current__report-switch__input:checked + .current__report-switch__slider::before {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
}

/* FILTERING BLOCK END */

/* BARCODES HEADER STYLING START */

.barcodes__report-header {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.barcodes__header-img {
    width: 15px;
    height: 15px;
}

.barcodes__header-items {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barcodes__header-item {
    width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.barcodes__header-item p {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

/* BARCODES HEADER STYLING END */


/*BARCODE ITEMS STYLING START*/

.barcodes__items-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
}

.barcodes__items-wrapper::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.barcodes__items-wrapper::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 2px;
}

.barcode__item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.barcode__img {
    width: 62px;
    height: 80px;
}

.barcode__item-data-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barcode__item-data__value {
    width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.barcode__item-data__value p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/*BARCODE ITEMS STYLING END*/
