.filter-wrapper {
    display: flex;
    position: relative;
}

.filters__flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    border: 1px solid var(--var-border-color);
    align-self: flex-start;
    border-radius: 7px;
    padding: 9px 20px;
}

.filter-button h1 {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

.filter__content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50px;
    left: 0;
    border-radius: 7px;
    z-index: 900;
    padding: 15px 20px 20px 20px;
    width: 253px;
    background-color: var(--var-bg-modal-color);
}

.download_link {
    display: flex;
    color: var(--var-text-active-color) !important;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
}

.download_link:hover {
    display: flex;
}

.download-icon {
    width: 19px;
    height: 19px;
}

.dashboard-wrapper {
    display: flex;
    margin-top: 11px;
    gap: 20px;
}

.indicator-item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 110px;
    width: 130px;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    padding: 10px;
    background-color: var(--var-content-bg-gradient);
    border: 1px solid var(--var-border-color);
}

.indicator__item-text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator_static-wrapper {
    display: flex;
    align-items: flex-end;
}

#chart {
  width: 100px;
  height: 45px;
  background-color: #f2f2f2;
  padding: 10px;
}

.bar {
  background-color: #007bff;
  margin-bottom: 10px;
  color: black;
  padding: 5px;
}
