.products-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 225px);
    gap: 11px;
    flex-shrink: 0;
    flex-basis: 271px;
}

.report-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.product__abc-xyz__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product__abc-xyz__text {
    padding: 10px;
    border: 1px solid var(--var-accent-text-color);
    border-radius: 7px;
}

.indicators-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}