input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/*EMPTY REPORTS*/

.empty_reports-wrapper {
    background-color: #e2e8f0;
    border-radius: 10px;
    padding-top: 100px;
    text-align:center;
}

.empty_reports-item p {
    font-size: 17px;
    font-weight: bold;
}

.empty_reports-item a {
    color: white;
    margin-top: 37px;
    text-transform: uppercase;
    background-color: #ff8364;
    padding: 8px 20px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 30px;
}

.filter {
    position: absolute;
    visibility: hidden;
}

.dots {
    filter: url(#gooeyness);
    padding: 30px;
}

.dot {
    background: #ff8364;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.dot:first-child {
    animation: FirstDot 3s infinite;
}

.dot:nth-child(2) {
    animation: SecondDot 3s infinite;
}

.dot:nth-child(3) {
    animation: ThirdDot 3s infinite;
}

.dot:nth-child(4) {
    animation: FourthDot 3s infinite;
}

.dot:nth-child(5) {
    animation: FifthDot 3s infinite;
}

@keyframes FirstDot {
    0% {
        transform: scale(1) translateX(0);
    }
    25% {
        transform: scale(1.8) translateX(0);
    }
    50% {
        transform: scale(1) translateX(0);
    }
    83% {
        transform: scale(1) translateX(240px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

@keyframes SecondDot {
    0% {
        transform: translateX(0px);
    }
    27% {
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(0px);
    }
    81% {
        transform: translateX(180px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ThirdDot {
    0% {
        transform: translateX(0px);
    }
    29% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(0px);
    }
    79% {
        transform: translateX(120px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FourthDot {
    0% {
        transform: translateX(0px);
    }
    31% {
        transform: translateX(-160px);
    }
    50% {
        transform: translateX(0px);
    }
    77% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FifthDot {
    0% {
        transform: scale(1) translateX(0);
    }
    33% {
        transform: scale(1) translateX(-220px);
    }
    50% {
        transform: scale(1) translateX(0);
    }
    75% {
        transform: scale(1.8) translateX(0);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}


.reports_info-top {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 21px;
}


.reports_bold-text {
    font-weight: bold;
    font-size: 17px;
}

.reload_reports-button {
    background-color: #ff8364;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.load_reports-button {
    color: white;
    margin-top: 37px;
    text-transform: uppercase;
    background-color: #ff8364;
    padding: 8px 20px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;

}

/*BUTTON LOADER START */

.load_reports-button:hover, .reload_reports-button:hover {
    background-color: #ff6600;
}

.load_reports-button::after, .reload_reports-button::after {
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.load_reports-button.loading {
    color: transparent;
}

.load_reports-button.loading::after {
    opacity: 1;
}

.reload_reports-button.loading {
    color: transparent;
}

.reload_reports-button.loading::after {
    opacity: 1;
}

/*BUTTON LOADER END*/

.reports_warning-text {
    display: flex;
    align-items: center;
    gap: 4px;
}

.warning_img {
    width: 20px;
    height: 20px;
}

.reports_warning-text p {
    font-size: 11px;
    color: #ff8364;
}


.reports_middle-wrapper {
    display: flex;
    gap: 27px;
    margin-top: 20px;
}

.reports_left-filters {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 650px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: #a8a8a8;
    scrollbar-width: 3px;
    gap: 7px;
    padding: 18px 20px 18px 20px;
}

.reports_filter-title {
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
}
.reports_left-filters::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.reports_left-filters::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 2px;
}


.report_date-link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

.report_link-wrapper {
    align-items: center;
    display: flex;
    height: 40px;
    gap: 3px;
    padding-right: 18px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.report_link-wrapper:hover {
    border: 1px solid #ff8364;
    padding-right: 18px;
    align-items: center;
    display: flex;
}

.warning_report-wrapper {
    align-items: center;
    display: flex;
    height: 40px;
    gap: 3px;
    padding-right: 18px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.active_date-link {
    border: 1px solid #ff8364;
}

.warning_report-wrapper:hover {
    border: 1px solid #ff8364;
}

.report_link-img {
    width: 15px;
    height: 15px;
    align-self: flex-start;
}

.report_link-div {
    width: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15px;
    align-self: flex-start;
}

.rows_img {
    width: 15px;
    height: 15px;
}

.reports_right-content {
    background-color: white;
    border-radius: 10px;
    padding-top: 26px;
    padding-left: 20px;
    padding-bottom: 60px;
    width: 85%;
}

.reports_right-top {
    display: flex;
    gap: 40px;
}

.reports_period-date {
    text-align: left;
}

.reports_small-text {
    font-size: 8px;
    color: #9c9a9a;
    text-transform: uppercase;
}

.wb_report_link {
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: underline;
    color: #ff8364;
    margin-left: 50px;
}

.wb_report_link:hover {
    text-decoration: none;
    color: #ff8364;
}


.reports_data-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #dbdbdb;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 689px;
}

.reports_data-item {
    background-color: #f4f4f4;
    padding: 20px 20px 20px 21px;
    border-radius: 7px;
    max-width: 650px;
}

.report_inputs {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.report_input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.report_input-item {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    text-align: center;
    border: 1px solid #dbdbdb;
    max-width: 190px;
    border-radius: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
}



.supplier_costs-wrapper {
    display: flex;
    gap: 11px;
}

.help_text-wrapper {
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 3px;
}

.q_img {
    width: 14px;
    height: 14px;
}


.form_buttons-wrapper {
    float: right;
    margin-right: 300px;
    margin-top: 10px;
}

.clear_data {
    font-size: 8px;
    color: #9c9a9a;
    text-decoration: underline;
    text-transform: uppercase;
}

.send_data {
    background-color: #ff8364;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    padding: 8px 23px;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 30px;
}

.send_data:hover {
    background-color: #ff6600;
}
