.main {
    flex: 1 1 auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.subheader_wrapper  {
    display: flex;
    justify-content: flex-end;
    margin-top: 91px;
    border-radius: 10px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* EMPTY PRODUCTS AND REPORTS CSS */




/* MESSAGES */

.messages-wrapper {
    position: fixed;
    transform: translateX(100%);
    top: 150px;
    right: 30px;
    gap: 20px;
    align-items: center;
    transition: 0.5s;
}

.message_item-error {
    border-radius: 10px;
    border: 1px solid #ff8364;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 290px;
    padding: 15px;
    animation: error 0.5s forwards;
}

@keyframes error {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.message-img {
    width: 14px;
    height: 14px;
}

.message_item-success {
    width: 290px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #33b83e;
    padding: 15px;
    margin-top: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    animation: error 0.5s forwards;
}

.message_text {
    color: #9c9a9a;
    border-left: 1px solid #DFDADA;
    padding-left: 7px;
    font-size: 8px;
    text-transform: uppercase;

}

/*MESSAGES END*/

/* HEADER */

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lobo_block p {
    font-size: 12px;
}

.logo_block {
    display: flex;
    align-items: center;
}

.nav_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff8364;
    transition: width .3s;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link-active::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #ff8364;
}

.lobo_block img {
    width: 40px;
    height: 40px;
}

.lobo_block h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 13px;
    font-size: 16px;
}

.left_nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_nav-list li {
    margin-left: 49px;
}

.left_nav-list li a {
    font-weight: bold;
    font-size: 14px;
}

.right_nav-list {
    display: flex;
    align-items: center;
}

.right_nav-list li {
    margin-left: 25px;
}

.menu {
    display: flex;
    align-items: center;
}

.link_normal-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.nav_link-normal {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 12px;
}


.nav_link-normal:hover {
    display: flex;
    align-items: center;
    opacity: .8;
    text-decoration: underline;
}

.arrow_img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

/* HEADER END */


/* FOOTER START */
.footer {
    background-color: white;
    border-top: 1px solid #dbdbdb;
}

.footer_top {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 222px;
}

.footer_list {
    display: flex;
    align-items: center;
    gap: 34px;
}

.footer_list-link {
    display: flex;
    text-decoration: underline;
    font-size: 12px;
    align-items: center;
}

.footer_list-link:hover {
    display: flex;
    align-items: center;
    opacity: .8;
    text-decoration: underline;
}

.footer_list-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/* FOOTER END */


/*LOADER*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}