:root{
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
}

[data-color-theme="dark"] {
    --var-bgcolor: #32396B;
    --var-fontcolor: #5C659D;
    --var-font-primary-color: #FFFFFF;
    --var-tooltip-bg-color: #FFFFFF;
    --var-border-color: #424B80;
    --var-svg-color: #5C659D;
    --var-link-hover-color: #FFFFFF;
    --var-active-main-color: #0073FF;
    --var-error-main-color: #EC496B;
    --var-blue-accent-color: #00C6FF;
    --var-success-color: #36D04F;
}

[data-color-theme="light"] {
    --var-bgcolor: #FFFFFF;
    --var-fontcolor: #A0A2A4;
    --var-font-primary-color: #5C659D;
    --var-tooltip-bg-color: #D7E3EC;
    --var-border-color: #D7E3EC;
    --var-svg-color: #A0A2A4;
    --var-link-hover-color: #5C659D;
    --var-active-main-color: #0073FF;
    --var-error-main-color: #EC496B;
    --var-blue-accent-color: #00C6FF;
    --var-success-color: #36D04F;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    overflow-x: hidden;
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
}

header {
    position: fixed;
    width: 1025px;
    margin-left: 175px;
    background-color: var(--var-bgcolor);
    border-bottom: 1px solid var(--var-border-color);
    padding: 20px 20px 20px 30px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 67px;
}

main {
    margin-left: 195px;
    min-height: 100%;
    padding: 112px 20px 20px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

aside {
    position: fixed;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid var(--var-border-color);
    padding: 15px 20px 58px 25px;
}

h1 {
    font-weight: bold;
    color: var(--var-font-primary-color);
    font-size: 14px;
    line-height: 21px;
}

p {
    font-weight: normal;
    color: var(--var-font-primary-color);
    font-size: 10px;
    line-height: 15px;
}

.p-bold {
    font-weight: bold;
    color: var(--var-fontcolor);
    font-size: 10px;
    line-height: 15px;
}

.p-normal {
    font-weight: normal;
    color: var(--var-fontcolor);
    font-size: 10px;
    line-height: 15px;
}

.error__dot-icon {
    fill: var(--var-error-main-color);
}

.success__dot-icon {
    fill: var(--var-success-color);
}

.accent-link {
    background: linear-gradient(91.88deg, #00C6FF 0%, #0073FF 100%);
    align-self: flex-start;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: var(--var-font-primary-color) !important;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.p-dark {
    font-weight: bold;
    color: var(--var-font-primary-color);
    font-size: 14px;
    line-height: 21px;
}

.medium-link {
    color: var(--var-font-primary-color) !important;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.img-svg {
    fill: var(--var-svg-color);
}

.active-border {
    border: 1px solid var(--var-active-main-color);
}

.primary-border {
    border: 1px solid var(--var-font-primary-color)
}

.gradient-border {
    position: relative;
}


/*HEADER STYLING START*/

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 10px;
}

.header-nav li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav>li>a {
    position: relative;
}

.header-nav>li>a:hover {
    color: var(--var-link-hover-color);
    transition: .4s;
}

.data_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data__header-report {
    display: flex;
    align-items: center;
    gap: 15px;
}

.data__header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*HEADER STYLING END*/

.wrapper_first {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.wrapper_second {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.active_navbar_link {
    color: var(--var-font-primary-color) !important;
}

.active_link {
    color: var(--var-font-primary-color) !important;
}

.active_link::before {
    content: "";
    top: 16px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--var-active-main-color);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: var(--var-fontcolor);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-nav>li>a:hover {
    color: var(--var-link-hover-color);
    cursor: pointer;
    transition: .4s;
}

.footer__support-item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer__support-item:hover {
    display: flex;
    color: var(--var-link-hover-color);
    cursor: pointer;
    transition: .4s;
}

.sidebar__current-key__block {
    color: var(--var-font-primary-color);
    font-weight: bold;
    word-break: break-all;
    line-height: 15px;
    font-size: 10px;
}

.sidebar__current-key__block button {
    margin-left: 20px;
    text-decoration: underline;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: var(--var-blue-accent-color);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.nav-list>li>a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--var-fontcolor);
}

.nav-list>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list>li>a:hover {
    color: var(--var-link-hover-color);
    cursor: pointer;
    transition: .4s;
}

/*SITHE THEME CHECKBOX STYLING START*/

.site__theme-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.site__theme {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.site__theme + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.site__theme + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 40px;
    height: 21px;
    border-radius: 10px;
    background: #5C659D;
    transition: .2s;
}
.site__theme + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background: white;
    transition: .2s;
}
.site__theme:checked + label:before {
    background: white;
    border: 1px solid #D7E3EC;
}

.site__theme:checked + label:after {
    left: 23px;
    background: #5C659D;
}

/*SITHE THEME CHECKBOX STYLING END*/

.default__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.common__content-wrapper {
    border: 1px solid var(--var-border-color);
    background: linear-gradient(90deg, #32396B 0%, #262D56 100%),
    linear-gradient(0deg, #424B80, #424B80);
    border-radius: 7px;
    padding: 15px 20px 20px 20px;
}

.common__content-medium {
    flex: 0 0 auto;
    width: 468px;
}

.common__content-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.gradient-border::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(114.14deg, #FC9E36 0%, #FD6DAB 100%);
    border-radius: 7px;
    z-index: -1;
}

.dot-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 10px;
    font-weight: normal;
    line-height: 15px;
    background-color: var(--var-tooltip-bg-color);
    color: var(--var-fontcolor);
    border-radius: 7px;
    padding: 20px;
    width: 253px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 130%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: .4s;
}
