.toast-container {
    position: fixed;
    top: 3%;
    left: 45%;
    z-index: 9999;
    display: grid;
    justify-items: end;
    gap: 1.5rem;
}

.toast {
    color: #FFFFFF;
    width: 300px;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    padding: 15px;
    border-radius: 7px;
    animation: toastIt 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes toastIt {
    0%,
    100% {
        transform: translateY(-150%);
        opacity: 0;
    }
    10%,
    90% {
        transform: translateY(0);
        opacity: 1;
    }
}