.messages-wrapper {
    position: fixed;
    width: 300px;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    cursor: pointer;
    transition: top 0.4s ease;
}

.hide-message {
    display: none;
}

.message_item-error {
    border-radius: 7px;
    background-color: var(--var-error-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.message_item-success {
    border-radius: 7px;
    background-color: var(--var-success-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.message_text {
    max-width: 250px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
}