{% load static %}
<div class="contact_button-wrapper">
  <div class="contact-btn" alt="" id="contact-btn"><img src="{% static 'images/contact_img.png' %}" alt=""></div>
</div>
<div class="contact_form-wrapper" id="contact-form_wrapper">
  <div class="contact-form_header">
    <img class="form-header_img" src="{% static 'images/contact_img2.png' %}" alt="">
  </div>
  <div class="contact-form_body">
    <form action="{% url 'support:create_appeal' %}" class="contact-form" method="post">
      {% csrf_token %}
      <input type="hidden" name="user" required id="id_user" value="{{ request.user.id }}">
      <select id="id_message_type" name="message_type" required class="contact-topic">
        <option value="Задать вопрос">Задать вопрос</option>
        <option value="Предложить идею">Предложить идею</option>
        <option value="Комментарий">Комментарий</option>
        <option value="Сообщить об ошибке">Сообщить об ошибке</option>
      </select>
      <input
              type="text"
              id="id_user_name"
              name="user_name"
              maxlength="65"
              required
              oninvalid="this.setCustomValidity('Пожалуйста, введите имя.')"
              oninput="this.setCustomValidity('')"
              placeholder="Введите ваше имя"
              style="color: black;"
      >
      <textarea
              id="id_message"
              required name="message"
              cols="25"
              rows="2"
              oninvalid="this.setCustomValidity('Пожалуйста, введите сообщение.')"
              oninput="this.setCustomValidity('')"
              placeholder="Введите ваше сообщение"
      ></textarea>
      <button type="submit" class="send_conact-form">Отправить</button>
      <button type="button" class="close_contact-form" id="close_contact-form">Закрыть</button>
    </form>
  </div>
</div>