{% load static %}
<div class="container">
    <div class="footer_top">
        <div class="lobo_block">
            <p>(с) commery.ru, 2023</p>
        </div>
        <ul class="footer_list">
            <li class="footer_list-item"><a class="footer_list-link" href="https://forms.yandex.ru/u/63d68e9ec417f30bd20c7182/" target="_blank"> <img class="footer_list-img" src="{% static 'images/write_us.svg'%}" alt=""> Связаться с нами</a></li>
            <li class="footer_list-item"><a class="footer_list-link" href="https://forms.yandex.ru/u/63d68e9ec417f30bd20c7182/" target="_blank"> <img class="footer_list-img" src="{% static 'images/iconizer-686084.svg' %}" alt=""> Предложи идею</a></li>
            <li class="footer_list-item"><a class="footer_list-link" href="https://t.me/+CFhOWMG-qnIxY2Iy" target="_blank"> <img class="footer_list-img" src="{% static 'images/telegram_image.jpg' %}" alt=""> Сообщество продавцов</a></li>
        </ul>
    </div>
</div>