<div class="tariff_block-wrapper">
  <div class="tariff_item">
    <div class="tariff_main-content tariff_active">
      <div class="active_info-block">
        <div class="active_info-top">
          Подключён
        </div>
        <p class="active_info-duration">ДЕЙСТВУЕТ ДО 01.01.2022</p>
      </div>
      <div class="tariff_duration-block">
        <p class="tariff_duration-text">1 неделя</p>
      </div>
      <div class="tariff_prices-block">
        <h1 class="tariff_price">Бесплатно</h1>
      </div>
      <div class="percent_sale-block">
        <!--                                <h1 class="percent_sale">-10%</h1>-->
      </div>
      <div class="connect_tariff-block">
      </div>
    </div>
    <div class="tariff_footer">
      <img src="{% static 'images/check (2).svg' %}" alt="">
      <p class="tariff_footer-desc">
        Полный <br> функционал сервиса
      </p>
      <p class="tariff_demo-text">
        + <br>
        демо-магазин
      </p>
    </div>
  </div>
  <div class="tariff_item">
    <div class="tariff_main-content">
      <div class="active_info-block">
        <div class="active_info-top">
          Подключён
        </div>
        <p class="active_info-duration">ДЕЙСТВУЕТ ДО 01.01.2022</p>
      </div>
      <div class="tariff_duration-block">
        <p class="tariff_duration-text">1 месяц</p>
      </div>
      <div class="tariff_prices-block">
        <h1 class="tariff_price">4 400 <span style="font-size: 30px;">₽</span></h1>
        <div class="tariff_subprice"><span style="color: #EC583D">1100 руб</span> <br> в неделю</div>
      </div>
      <div class="percent_sale-block">
        <!--                                <h1 class="percent_sale">-10%</h1>-->
      </div>
      <button class="connect_tariff-btn" type="button">Подключить</button>
    </div>
    <div class="tariff_footer">
      <img src="{% static 'images/check (2).svg' %}" alt="">
      <p class="tariff_footer-desc">
        Полный <br> функционал сервиса
      </p>
    </div>
  </div>
  <div class="tariff_item">
    <div class="tariff_main-content">
      <div class="active_info-block">
      </div>
      <div class="tariff_duration-block">
        <p class="tariff_duration-text">3 месяца</p>
      </div>
      <div class="tariff_prices-block">
        <h1 class="tariff_price">11 880 <span style="font-size: 30px;">₽</span></h1>
        <div class="tariff_subprice"><span style="color: #EC583D">990 руб</span> <br> в неделю</div>
      </div>
      <div class="percent_sale-block">
        <h1 class="percent_sale">-10%</h1>
      </div>
      <button class="connect_tariff-btn" type="button">Подключить</button>
    </div>
    <div class="tariff_footer">
      <img src="{% static 'images/check (2).svg' %}" alt="">
      <p class="tariff_footer-desc">
        Полный <br> функционал сервиса
      </p>
    </div>
  </div>
  <div class="tariff_item">
    <div class="tariff_main-content">
      <div class="active_info-block">
        <!--                                <div class="active_info-top">-->
        <!--                                    Подключён-->
        <!--                                </div>-->
        <!--                                <p class="active_info-duration">ДЕЙСТВУЕТ ДО 01.01.2022</p>-->
      </div>
      <div class="tariff_duration-block">
        <p class="tariff_duration-text">6 месяцев</p>
      </div>
      <div class="tariff_prices-block">
        <h1 class="tariff_price">21 120 <span style="font-size: 30px;">₽</span></h1>
        <div class="tariff_subprice"><span style="color: #EC583D">880 руб</span> <br> в неделю</div>
      </div>
      <div class="percent_sale-block">
        <h1 class="percent_sale">-20%</h1>
      </div>
      <button class="connect_tariff-btn" type="button">Подключить</button>
    </div>
    <div class="tariff_footer">
      <img src="{% static 'images/check (2).svg' %}" alt="">
      <p class="tariff_footer-desc">
        Полный <br> функционал сервиса
      </p>
    </div>
  </div>
</div>