{% extends 'base.html' %}
{% load static %}
{% block title %} Налоги - Commery{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/taxes.css' %}">
{% endblock %}
{% block content %}
<div class="taxes-wrapper">
  <div class="common__content-wrapper taxes-block">
    <h1>Налог</h1>
    <table class="taxes-table">
      <thead>
      <tr class="tr-header">
        <th scope="col">Ставка</th>
        <th scope="col">Дата начала действия</th>
      </tr>
      </thead>
      <tbody>
      <tr class="tr-content">
        <td>%</td>
        <td>дд.мм.гггг</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class="text__accent">Сумма налога будет учтена при расчете прибыли от продаж</p>
  </div>
</div>
{% endblock %}