<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'images/logo_commery3.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/error_page.css' %}">
    <title>Commery</title>
</head>
<body>
<div class="error_page-wrapper">
    <div class="container">
        <header class="error_page-header">
            <img src="{% static 'images/logo_commery3.png' %}" alt="">
            <h1>commery</h1>
        </header>
        <main class="error_page-main">
            <div class="error_body">
                <h1>Во время обработки запроса произошла ошибка.</h1>
                <p>Вернитесь назад, а мы начнём решать возникшую задачу.</p>
                <a href="javascript:history.back()">Назад</a>
            </div>
            <div class="error_page-img">
                <img src="{% static 'images/500.jpg' %}" alt="" class="nlo_img">
            </div>
        </main>
    </div>
</div>
</body>
</html>