{% load static %}
<header>
    <ul class="header-nav">
        {% url 'users:change_password' as change_password_url %}
        <li><a
                href="{{ change_password_url }}"
                class="{% if request.path == change_password_url %} active_link {% endif %}">
            Пароль
        </a></li>
        {% url 'support:support' as support_url %}
        <li><a
                href="{{ support_url }}"
                class="{% if request.path == support_url %} active_link {% endif %}">
            Поддержка
        </a></li>
    </ul>
</header>