{% extends 'base.html' %}
{% load static %}
{% block title %} Политика конфиденциальности - Commery{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
    <h1>Политика конфиденциальности «COMMERY»</h1>
    <br>
    <p class="text__accent-bold">1. Что регулирует настоящая политика конфиденциальности</p>
    <br>
    <div class="text__accent">
        Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации, включая персональные данные в понимании применимого законодательства (далее — «Персональная информация»), которую ООО «ТК СВУД» (далее - "Компания") может получить о Вас в процессе использования Вами сервиса "COMMERY" (далее — "Сервис"), информация о котором Вы можете найти на сайте https://commery.ru/, а также в ходе исполнения Компанией любых соглашений и договоров, заключенных с Вами в связи с использованием Вами Сервиса. Компания может также получать Персональную информацию от своих партнеров (далее — «Партнеры») или из других источников с общедоступными персональными данными. В соответствующих случаях передача Персональной информации возможна только в случаях, установленных применимым законодательством, и осуществляется на основании специальных договоров между Компанией и каждым из Партнеров.
    </div>
    <br>
    <p class="text__accent-bold">2. Кто обрабатывает информацию</p>
    <br>
    <div class="text__accent">
        Для обеспечения использования Вами Сервиса Ваша Персональная информация собирается и используется Компанией, в том числе включая общество с ограниченной ответственностью «ТК СВУД», юридическое лицо, созданное по законодательству Российской Федерации и зарегистрированное по адресу: 680041, Хабаровский Край, г. Хабаровск, пер. Кедровый, д. 12.
    </div>
    <br>
    <p class="text__accent-bold">3. Какова цель данной Политики</p>
    <br>
    <div class="text__accent">
        Защита Вашей Персональной информации и Вашей конфиденциальности чрезвычайно важны для Компании. Поэтому при использовании Вами Сервиса Компания защищает и обрабатывает Вашу Персональную информацию в строгом соответствии с применимым законодательством.
        Следуя нашим обязанностям защищать Вашу Персональную информацию, в этой Политике мы хотели бы наиболее прозрачно проинформировать Вас о следующих моментах:
        <br>(а) зачем и как Компания собирает и использует («обрабатывает») Вашу Персональную информацию, когда Вы используете Сервис;
        <br>(б) какова роль и обязанности Компании как юридического лица, принимающего решение о том, зачем и как обрабатывать Вашу Персональную информацию;
        <br>(в) какие инструменты Вы можете использовать для сокращения объема собираемой Компанией Персональной информации о Вас;
        <br>(г) каковы Ваши права в рамках проводимой обработки Персональной информации.
    </div>
    <br>
    <p class="text__accent-bold">4. Какую Персональную информацию о Вас собирает Компания</p>
    <br>
    <div class="text__accent">
        Персональная информация, собранная в процессе работы Сервиса, а также в процессе использования сайтов, программ, продуктов или сервисов Партнеров, может различаться в зависимости от того, используете Вы для доступа к ним Вашу учетную запись или нет. Компания не проверяет предоставленную Вами Персональную информацию и не может судить о ее достоверности, а также о том, обладаете ли вы достаточной правоспособностью для предоставления Вашей Персональной информации. Тем не менее Компания исходит из того, что Вы предоставляете достоверную и достаточную Персональную информацию, а также своевременно обновляете ее.
        <br>Компания может собирать следующие категории Персональной информации о Вас во время использования Вами Сервиса:
        <br>1. персональная информация, предоставленная Вами при регистрации (создании учетной записи), такая как Ваше имя, номер телефона и адрес электронной почты;
        <br>2. электронные данные (HTTP-заголовки, IP-адрес, файлы cookie, веб-маяки/пиксельные теги, данные об идентификаторе браузера, информация об аппаратном и программном обеспечении, данные сети wi-fi);
        <br>3. дата и время осуществления доступа к Сервису;
        <br>4. информация о Вашей активности во время использования Сервиса;
        <br>5. информация о геолокации;
        <br>6. иная информация о Вас, необходимая для обработки в соответствии с условиями, регулирующими использования Сервиса;
        <br>7. информация о Вас, которую мы получаем от наших Партнеров в соответствии с условиями соглашений, заключенных между Вами и соответствующим Партнером, и соглашений, заключенных между Компанией и Партнером;
        <br>8. данные Ваших платежных карт, иная платежная информация, предоставленная Вами, а также полученная от Партнеров или иных лиц, участвующих в проведении платежной операции с использованием Сервиса.
        <br>Также Компания использует файлы cookie и веб-маяки (включая пиксельные теги) для сбора Персональной информации и связывания такой личной информации с Вашим устройством и веб-браузером.
        <br>Компания не собирает целенаправленно чувствительную персональную информацию (такую как расовое происхождение, политические взгляды, информация о здоровье и биометрические данные). Тем не менее Вы можете самостоятельно предоставить их Компании, и в таком случае Компания будет обрабатывать их в рамках предоставления Вам Сервиса. При этом Вы должны принимать во внимание, что Компания не может запросить Ваше согласие на такую обработку, поскольку не осведомлен заранее о потенциально чувствительном характере Персональной информации, которую Вы можете предоставить Компании.
        <br>Компания не собирает данные с целью составления «портрета» пользователя в той степени, при которой это может существенно повлиять на Ваши права и свободы в соответствии с применимым законодательством.
    </div>
    <br>
    <p class="text__accent-bold">5. Какова правовая основа и цели обработки Вашей Персональной информации</p>
    <br>
    <div class="text__accent">
        Компания не вправе обрабатывать Вашу Персональную информацию без достаточных на то правовых оснований. Поэтому Компания обрабатывает Вашу Персональную информацию только в том случае, если:
        <br> 1. обработка необходима для выполнения договора между Вами и Компанией (https://commery.ru/offer).
        <br> 2. обработка необходима для соблюдения установленных законодательством обязательств;
        <br> 3. когда это предусмотрено применимым законодательством, обработка необходима для обеспечения законных интересов Компании в случае, если такая обработка не оказывает существенного влияния на Ваши интересы, Ваши фундаментальные права и свободы. Обратите внимание, что при обработке Вашей персональной информации на указанном основании, Компания всегда будет стремиться поддерживать баланс между своими законными интересами и защитой Вашей конфиденциальности.
        <br> Компания обрабатывает Вашу Персональную информацию для обеспечения своих законных интересов, например, в следующих случаях:
        <br> (а) чтобы лучше понимать, как Вы взаимодействуете с Сервисом;
        <br> (б) чтобы совершенствовать, менять, персонализировать или иным образом улучшать Сервис в интересах всех пользователей;
        <br> (в) чтобы предлагать Вам другие продукты и сервисы Компании или других компаний, которые, по нашему мнению, могут Вас заинтересовать (т. е. показывать Вам рекламу, учитывающую Ваши интересы);
        <br> 4. для конкретных целей либо в соответствии с требованием применимого законодательства мы можем запросить Ваше отдельное согласие на обработку Вашей Персональной информации. Для юрисдикций, где согласие признается отдельным правовым основанием, начало использования вами Сервиса выражает Ваше согласие с такой обработкой. Настоящим мы информируем Вас, а Вы подтверждаете, что у Вас нет никаких обязательств по предоставлению нам какой-либо Персональной информации при использовании Вами Сервиса, и такое предоставление основано исключительно на Вашей свободной воле. Вместе с тем Вы осознаете, что без предоставления Персональной информации мы не сможем предоставить Вам возможность воспользоваться Сервисом.
        <br> Компания всегда обрабатывает Вашу Персональную информацию в определенных целях и только ту Персональную информацию, которая имеет отношение к достижению таких целей. В частности, мы обрабатываем Вашу Персональную информацию для следующих целей:
        <br> (а) предоставление Вам доступа к Сервису;
        <br>(б) предоставление доступа к Вашей учетной записи;
        <br> (в) осуществление связи с Вами для направления Вам уведомлений, запросов и информации, относящейся к работе Сервиса, выполнения соглашений с Вами и обработки Ваших запросов и заявок;
        <br> (г) персонализация рекламы и предложений с учетом Ваших предпочтений;
        <br> (д) повышение удобства использования Сервиса, а также для улучшения других продуктов, приложений и Сервисов Компании;
        <br> (е) создание новых продуктов, утилит и предложений Компании;
        <br> (ж) защита Ваших прав и прав Компании;
        <br> (з) сбор, обработка и представление статистических данных, больших данных и других исследований;
        <br> (и) выявление угроз безопасности для Сервиса, пользователей, Компании и/или третьих лиц;
        <br> (й) организация приема Ваших платежей.
    </div>
    <br>
    <p class="text__accent-bold">6. Как Компания защищает Вашу Персональную информацию</p>
    <br>
    <div class="text__accent">
        В большинстве случаев Персональная информация обрабатывается автоматически без доступа к ней кого-либо из сотрудников Компании. В случае если такой доступ понадобится, то он может быть предоставлен только тем сотрудникам Компании, которые нуждаются в этом для выполнения своих задач. Для защиты и обеспечения конфиденциальности данных все сотрудники должны соблюдать внутренние правила и процедуры в отношении обработки Персональной информации. Они также должны следовать всем техническим и организационным мерам безопасности, действующим для защиты Вашей Персональной информации.
        Компания также внедрила достаточные технические и организационные меры для защиты Персональной информации от несанкционированного, случайного или незаконного уничтожения, потери, изменения, недобросовестного использования, раскрытия или доступа, а также иных незаконных форм обработки. Данные меры безопасности были реализованы с учетом современного уровня техники, стоимости их реализации, рисков, связанных с обработкой и характером Персональной информации.
    </div>
    <br>
    <p class="text__accent-bold">7. Кто еще имеет доступ к Вашей Персональной информации и кому она может быть передана</p>
    <br>
    <div class="text__accent">
        Компания может передавать Персональную информацию третьим лицам для достижения целей, указанных в разделе 5 настоящей Политики. Обратите внимание, что уровень защиты Персональной информации в некоторых странах может не совпадать с уровнем, установленном в вашей юрисдикции, и, используя Сервис, Вы соглашаетесь на такую передачу.
        <br>К таким третьим лицам могут относиться:
        <br>1. Партнеры, такие как владельцы сайтов и приложений, рекламные сети и другие партнеры, предоставляющие Компании услуги, связанные с размещением и отображением рекламы на сайтах, в программах, продуктах или сервисах, которые принадлежат таким партнерам или контролируются ими;
        <br>2. рекламодатели или другие Партнеры, которые отображают для Вас рекламу в Сервисе, а также такие Партнеры как поставщики информационных сервисов или консультанты;
        <br>3. лица, предоставляющие информацию для выявления угроз безопасности для Сервиса, пользователей, Компании и/или третьих лиц;
        <br>4. лицам, участвующим в организации приема Ваших платежей (международные платежные системы, поставщики платежных инструментов, банки и иные финансовые организации и т.д.).
        <br>Компания также может передавать Персональную информацию третьим лицам, не относящимся к Компании:
        <br>1. третьим лицам, которым произведена уступка прав или обязанностей по договорам, связанным с предоставлением пользователям Сервиса, или которые осуществляют контроль иным образом над лицами, предоставляющими Сервис, в результате их приобретения (посредством приобретения юридических лиц, объектов интеллектуальной собственности, имущества, имущественных прав и иным образом);
        <br>2. любому национальному и/или международному регулирующему органу, правоохранительным органам, центральным или местным исполнительным органам власти, другим официальным или государственным органам или судам, в отношении которых Компания обязана предоставлять информацию в соответствии с применимым законодательством по соответствующему запросу;
        <br>3. третьим лицам, в случае если Вы выразили согласие на передачу Вашей Персональной информации либо передача Персональной информации требуется для предоставления Вам соответствующей услуги или выполнения определенного соглашения или договора, заключенного с Вами;
        <br>4. любому третьему лицу в целях обеспечения правовой защиты Компании или третьих лиц при нарушении Вами Договора с Компанией о пользовании Сервисом (https://commery.ru/offer), настоящей Политики, либо в ситуации, когда существует угроза такого нарушения.
    </div>
    <br>
    <p class="text__accent-bold">8. Где хранится и обрабатывается Ваша Персональная информация</p>
    <br>
    <div class="text__accent">
        Ваша Персональная информация будет храниться в Российской Федерации.
        Для российских пользователей: Компания осуществляет запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации.
        Если Вы находитесь на территории, где для передачи Вашей Личной информации в другую юрисдикцию требуется Ваше согласие, то используя Сервис, Вы даете Компании свое явное и однозначное согласие на такую передачу или хранение, и/или обработку информации в России.
    </div>
    <br>
    <p class="text__accent-bold">9. Как долго мы храним Вашу Персональную информацию</p>
    <br>
    <div class="text__accent">
        Компания будет хранить Вашу Персональную информацию столько времени, сколько это необходимо для достижения цели, для которой она была собрана, или для соблюдения требований законодательства и нормативных актов.
        Если Вы хотите, чтобы какая-либо Ваша Персональная информация была удалена из баз данных Компании, Вы можете запросить ее удаление через функционал обратной связи с Компанией или обратившись к Компании по электронной почте (support@commery.ru).
    </div>
    <br>
    <p class="text__accent-bold">10. Ваши права</p>
    <br>
    <div class="text__accent">
        Какими правами вы обладаете:
        <br>В случае если это предусмотрено применимым законодательством, Вы имеете право на доступ к Вашей Персональной информации, обрабатываемой Компанией в соответствии с настоящей Политикой.
        <br>Если это предусмотрено применимым законодательством, Вы имеете право:
        <br>1. ознакомиться с информацией, которую Компания хранит о Вас;
        <br>2. требовать удаления Вашей Персональной информации или ее части, а также отзывать согласие на обработку Вашей персональной информации;
        <br>3. требовать ограничений на обработку Вашей Персональной информации;
        <br>4. возражать против обработки Вашей Персональной информации, если это предусмотрено применимым законодательством.
        <br>Компания будет выполнять указанные запросы в соответствии с применимым законодательством.
        <br>В случаях, предусмотренных применимым законодательством, Вы можете также обладать другими правами, не указанными выше.
        <br>При использовании Вами Сервиса передача Персональной информации осуществляется c Вашего согласия, выражающего свободную волю и Ваш интерес, (в частности, на основании договора с Вами) и не является обязанностью по закону.
        <br>Как Вы можете реализовать свои права:
        <br>Для осуществления вышеуказанных прав, пожалуйста, свяжитесь с Компанией.
        <br>Если Вы не удовлетворены тем, как Компания обрабатывает Вашу Персональную информацию, пожалуйста, сообщите нам, и мы рассмотрим Вашу претензию. Если Вы не удовлетворены ответом Компании, Вы имеете право подать жалобу в компетентный орган.
    </div>
    <br>
    <p class="text__accent-bold">11. Как мы используем файлы cookie и другие подобные технологии при использовании Вами Сервиса</p>
    <br>
    <div class="text__accent">
        Какие файлы cookie и зачем их использует Компания:
        <br>Файлы cookie — это небольшой фрагмент данных, который принимается и обрабатывается устройством, которое Вы используете для доступа к Сервису. Файлы cookie хранят и отправляют обратно в Сервис информацию, которая помогает Вашей работе с Сервисом.
        <br>На Сайтах используются следующие типы файлов cookie:
        <br>1. строго необходимые файлы cookie / технические файлы cookie: эти файлы cookie необходимы для работы Сервиса и предоставления Вам Сервиса; кроме всего прочего, они позволяют Компании идентифицировать Ваше аппаратное и программное обеспечение, включая тип Вашего браузера;
        <br>2. статистические / аналитические файлы cookie: эти файлы cookie позволяют распознавать пользователей, подсчитывать их количество и собирать информацию;
        <br>3. технические файлы cookie: эти файлы cookie собирают информацию о том, как пользователи взаимодействуют с Сервисом, что позволяет выявлять ошибки и тестировать новые функции для повышения производительности Сервиса;
        <br>4. функциональные файлы cookie: эти файлы cookie позволяют предоставлять определенные функции, чтобы облегчить использование Вами Сервиса;
        <br>5. (сторонние) файлы отслеживания / рекламные файлы cookie: эти файлы cookie собирают информацию о пользователях, источниках трафика, посещенных страницах и рекламе, отображенной для Вас, а также той, по которой Вы перешли на рекламируемую страницу. Они позволяют отображать рекламу, которая может Вас заинтересовать, на основе анализа Персональной информации, собранной о Вас. Они также используются в статистических и исследовательских целях.
        <br>Как долго файлы cookie хранятся на Вашем устройстве:
        <br>Компания использует информацию, содержащуюся в файлах cookie только в указанных выше целях, после чего собранные данные будут храниться на Вашем устройстве в течение периода, который может зависеть от соответствующего типа файлов cookie, но не превышая срока, необходимого для достижения их цели, после чего они будут автоматически удалены из Вашей системы.
        <br>Кто еще имеет доступ к информации, содержащейся в файлах cookie:
        <br>Персональная информация, собранная с помощью файлов cookie, размещенных на Вашем устройстве, может быть передана и доступна Компании и/или третьим лицам, указанным в разделе 7 настоящей Политики. Использование Персональной информации вне Сервиса в рекламных целях, если таковые имеются, может быть предметом отдельных пользовательских соглашений, доступных на веб-сайтах третьих лиц. Компания и/или третьи лица могут также предоставить Вам возможность отказаться от персонализации рекламы, которая может быть предметом регулирования законодательства и правил, применимых к таким продуктам и предложениям.
        <br>При первом посещении Сервиса может быть запрошено Ваше согласие на использование файлов cookie. Если после того, как Вы одобрили использование файлов cookie, Вы захотите изменить свое решение, Вы сможете сделать это, удалив файлы cookie, хранящиеся в Вашем браузере (обычно это можно сделать в настройках браузера — пожалуйста, обратитесь к руководству по работе с браузером или сайту его разработчика). После этого может быть снова отображено всплывающее окно, запрашивающее Ваше согласие, и Вы сможете сделать иной выбор. Если Вы отказываетесь от использования файлов cookie, это может привести к тому, что некоторые функции Сервиса будут Вам недоступны, и повлияет на возможность использования Вами Сервиса. Вы также можете изменить настройки Вашего браузера, чтобы принимать или отклонять по умолчанию все файлы cookie или файлы cookie с определенных сайтов, включая Сервис.
        <br>Компания также может использовать веб-маяки (пиксельные теги) для доступа к файлам cookie, ранее размещенным на Вашем устройстве.
    </div>
    <br>
    <p class="text__accent-bold">12. Обновление настоящей Политики</p>
    <br>
    <div class="text__accent">
        В настоящую Политику могут быть внесены изменения. Компания имеет право вносить изменения по своему усмотрению, в том числе, но не ограничиваясь, в случаях, когда соответствующие изменения связаны с изменениями в применимом законодательстве, а также когда соответствующие изменения связаны с изменениями в работе Сервиса.
        <br>Компания обязуется не вносить существенных изменений, не налагать дополнительных обременений или ограничений Ваших прав, установленных настоящей Политикой без Вашего уведомления. Вы будете уведомлены о таких изменениях. Соответствующие уведомления могут быть отображены в Сервисе (например, через всплывающее окно или баннер) до того, как такие изменения вступят в силу, или могут быть отправлены Вам по другим каналам связи (например, по электронной почте, если Вы предоставили нам Ваши контактные данные).
    </div>
</div>
{% endblock %}