{% extends 'base.html' %}
{% load static %}
{% block title %}Договор-оферта Commery{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
    <h1>Договор-оферта Commery</h1>
    <p class="text__accent" style="margin-top: 11px;">ООО «ТК СВУД» (далее – «Компания») в соответствии с п. 1 ст. 435, п. 2 ст. 437 Гражданского кодекса Российской Федерации («ГК РФ») адресует предложение любому клиенту (далее – «Заказчик») заключить настоящую Оферту (далее – «Договор») на изложенных ниже условиях путем полного и безоговорочного принятия (акцепта) в установленном Договором порядке (п. 3 ст. 438 ГК РФ). Вместе Компания и Заказчик именуются как «Стороны», а по отдельности - «Сторона».
        <br>1. Общие условия <br>
        По настоящему Договору Заказчику предоставляется неисключительное право использования Сервиса «COMMERY» (далее – «Сервис»), размещенного на сайте Компании по адресу: https://commery.ru (далее по тексту – «Портал Сервиса»). Акцептом (принятием) данной оферты (заключением договора) является факт регистрации Заказчика в Сервисе по адресу: https://commery.ru/register («Страница регистрации»), при которой Заказчик обязан был подтвердить ознакомление и свое согласие с условиями настоящей оферты (настоящего Договора), а также произвёл оплату Сервиса. Оферта вступает в силу с даты размещения на сайте Компании в сети Интернет по адресу: https://commery.ru/offer и действует до даты отзыва или изменения настоящего Договора-оферты. Факт удаления с указанного сайта Оферты является ее отзывом. В случае изменения условий Оферты, изменения вступают в силу после размещения измененного текста Оферты на сайте Компании в сети Интернет по адресу: https://commery.ru/offer с даты редакции.</p>
</div>
{% endblock %}