{% extends 'base.html' %}
{% load static %}
{% block title %} Регистрация - Commery {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/common_form.css' %}">
{% endblock %}
{% block content %}
<form action="." method="post" class="common-form">
    {% csrf_token %}
    <h1>Подтверждение почты</h1>
    <p style="max-width: 455px">
        На адрес {{ email }} направлено письмо со ссылкой для подтверждения регистрации. Перейдите по ссылке в письме и авторизуйтесь в сервисе.
    </p>
    <div class="form_buttons">
        <button class="form__accent-button" id="resend_email-btn" type="submit">Повторная отправка</button>
        <p class="resend_email-counter">Получить новое письмо можно через <span class="counter" style="text-decoration: underline">60</span> секунд</p>
    </div>
</form>

<script src="{% static 'users/js/email_confirm.js' %}"></script>
{% endblock %}