<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'images/logo_commery4.png' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/test_auth.css' %}">
  <title>Авторизация - Commery</title>
</head>
<body>
<main class="main">
  <div class="auth_wrapper">
    <div class="auth__container">
      <div class="auth__logo-wrapper">
        <img src="{% static 'images/logo_commery4.png' %}" alt="">
        <h1>Commery</h1>
      </div>
      <div class="auth__form-wrapper">
        <div class="auth__form-wrapper__header">
          <h1>Регистрация</h1>
          <p>Пожалуйста, заполните форму ниже</p>
        </div>
        <form action="." method="post" class="auth_form">
          {% csrf_token %}
          <div class="input__item">
            <input
                    type="email"
                    data-id="email"
                    {% if form.email.errors %} class="input_error" {% endif %}
                    name="{{form.email.html_name}}"
                    value="{{form.email.value|default_if_none:''}}"
                    id="{{form.email.id_for_label}}"
                    required
                    placeholder="Введите адресс почты"
            >
            {% if form.email.errors %}
            <div class="input_footer" data-id-error="email">
              {{ form.email.errors }}
            </div>
            {% endif %}
          </div>
          <div class="input__item">
            <input
                    type="password"
                    data-id="password1"
                    {% if form.password1.errors %}
                    class="input_error"
                    {% elif form.password2.errors %}
                    class="input_error"
                    {% endif %}
                    name="{{form.password1.html_name}}"
                    id="{{form.password1.id_for_label}}"
                    required
                    placeholder="Введите пароль"
            >
          </div>
          {% if form.password1.errors %}
          <div class="input_footer" data-id-error="password2">
            {{ form.password1.errors }}
          </div>
          {% endif %}
          <div class="input__item">
            <input
                    type="password"
                    data-id="password2"
                    {% if form.password2.errors %} class="input_error" {% endif %}
                    name="{{form.password2.html_name}}"
                    id="{{form.password2.id_for_label}}"
                    required
                    placeholder="Повторите пароль"
            >
            {% if form.password2.errors %}
            <div class="input_footer" data-id-error="password2">
              {{ form.password2.errors }}
            </div>
            {% endif %}
          </div>
          <div class="input__item">
            <input
                    type="tel"
                    data-id="phone"
                    {% if form.phone.errors %} class="input_error" {% endif %}
                    name="{{form.phone.html_name}}"
                    id="{{form.phone.id_for_label}}"
                    data-tel-input
                    placeholder="Контактный телефон"
            >
            {% if form.phone.errors %}
            <div class="input_footer" data-id-error="phone">
              {{ form.phone.errors }}
            </div>
            {% endif %}
          </div>
          <div class="input__item">
            <input
                    type="checkbox"
                    data-id="offert"
                    required
                    oninvalid="this.setCustomValidity('Необходимо согласие с условиями Оферты')"
                    oninput="this.setCustomValidity('')"
                    checked="checked"
                    class="offert_checkbox"
                    name="{{form.is_accepted_terms_of_offer.html_name}}"
                    id="{{form.is_accepted_terms_of_offer.id_for_label}}"
            >
            <label class="checkbox_label" for="{{form.is_accepted_terms_of_offer.id_for_label}}">Согласен с условиями
              <a class="offert_link" target="_blank" href="https://commery.ru/offer">Оферты</a></label>
            {% if form.is_accepted_terms_of_offer.errors %}
            <div class="input_footer" data-id-error="offert">
              {{ form.is_accepted_terms_of_offer.errors }}
            </div>
            {% endif %}
          </div>
          <button type="submit">Зарегестрироваться</button>
          {% if user_error %}
          <div class="auth__form-error__wrapper">
            <img src="{% static 'images/iconizer-4201973.svg' %}" alt="">
            <p>{{ user_error }}</p>
          </div>
          {% endif %}
        </form>
      </div>
      <div class="auth__form-help__wrapper">
        <h2 class="auth__help-text">Есть аккаунт? <a class="auth__help-link" href="{% url 'users:login' %}">Авторизоваться</a></h2>
      </div>
    </div>
  </div>
  <div class="slider__container">
    <h1>ТУТА СЛАЙДЕР</h1>
  </div>
</main>

<script src="{% static 'users/js/test_reg.js' %}"></script>
<script src="{% static 'users/js/check_invalid_auth_inputs.js' %}"></script>
</body>
</html>