{% extends 'base.html' %}
{% load static %}
{% block title %} Регистрация - Commery {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/common_form.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper_first">
    {% include 'includes/unquthorized_header.html' %}

    <div class="form-wrapper">
        <form action="." method="post" class="common-form">
            {% csrf_token %}
            <div class="form-items">
                <div class="form__item {% if form.email.errors %} input__item-error {% endif %}">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                    {% if form.email.errors %}
                    <div class="form__item-error" data-id-error="email">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.password1.errors %} input__item-error {% endif %}">
                    {{ form.password1 }}
                    {{ form.password1.label_tag }}
                    {% if form.password1.errors %}
                    <div class="form__item-error" data-id-error="password1">
                        {{ form.password1.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.password2.errors %} input__item-error {% endif %}">
                    {{ form.password2 }}
                    {{ form.password2.label_tag }}
                    {% if form.password2.errors %}
                    <div class="form__item-error" data-id-error="password2">
                        {{ form.password2.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.phone.errors %} input__item-error {% endif %}">
                    {{ form.phone }}
                    {{ form.phone.label_tag }}
                    {% if form.phone.errors %}
                    <div class="form__item-error" data-id-error="phone">
                        {{ form.phone.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.promocode.errors %} input__item-error {% endif %}">
                    {{ form.promocode }}
                    {{ form.promocode.label_tag }}
                    {% if form.promocode.errors %}
                    <div class="form__item-error" data-id-error="promocode">
                        {{ form.promocode.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.is_accepted_terms_of_offer.errors %} input__item-error {% endif %}">
                    {{ form.is_accepted_terms_of_offer }}
                    {{ form.is_accepted_terms_of_offer.label_tag }}
                    {% if form.is_accepted_terms_of_offer.errors %}
                    <div class="form__item-error" data-id-error="is_accepted_terms_of_offer">
                        {{ form.is_accepted_terms_of_offer.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form_buttons">
                <button class="form__accent-button" type="submit">Зарегестрироваться</button>
                <a href="{% url 'users:login' %}" class="medium-link">Авторизоваться</a>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/handleInputsValidation.js' %}"></script>
{% endblock %}
