{% extends 'users/authentication/auth_base.html' %}
{% load static %}
{% block title %} Сброс пароля - Commery {% endblock %}
{% block content %}
<div class="password_reset-wrapper">
    <h1>Сброс пароля</h1>
    <p>Пожалуйста, введите адрес электронной почты, указанный при регистрации, и мы отправим Вам ссылку для создания нового пароля.</p>
    <form action="." method="post" class="password_reset-form">
        {% csrf_token %}
        <div class="resend_input-block">
            <input
                    type="email"
                    class="password_reset-input"
                    style="{% if form.email.errors or messages %}border: 1px solid #f65731;{% endif %}"
                    name="email"
                    autocomplete="email"
                    maxlength="254"
                    required=""
                    id="id_email"
                    placeholder="Введите адрес почты">
            <span class="input_error-email">{{ form.email.errors }}</span>
        </div>
        <button type="submit" class="password_reset-button">Сбросить пароль</button>
    </form>
</div>

<div class="messages-wrapper">
    {% include 'includes/messages.html' %}
</div>

<script>
    const emailInput = document.getElementById('id_email')
    const errorsBlock = document.querySelector('.input_error-email')

    emailInput.addEventListener('input', function (e) {
        e.target.removeAttribute("style")
        errorsBlock.style.display = 'none'
    })
</script>

<script src="{% static 'js/messages.js' %}"></script>
{% endblock %}