{% extends 'base.html' %}
{% load static %}
{% block title %} Авторизация - Commery{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/common_form.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper_first">
    {% include 'includes/headers/profile_header.html' %}

    <div class="form-wrapper">
        <form action="." method="post" class="common-form">
            {% csrf_token %}
            <h1>Изменение пароля</h1>
            <div class="form-items">
                <div class="form__item {% if form.old_password.errors %} input__item-error {% endif %}">
                    {{ form.old_password }}
                    {{ form.old_password.label_tag }}
                    {% if form.old_password.errors %}
                    <div class="form__item-error" data-id-error="old_password">
                        {{ form.old_password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.new_password.errors %} input__item-error {% endif %}">
                    {{ form.new_password }}
                    {{ form.new_password.label_tag }}
                    {% if form.new_password.errors %}
                    <div class="form__item-error" data-id-error="new_password">
                        {{ form.new_password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form__item {% if form.reenter_password.errors %} input__item-error {% endif %}">
                    {{ form.reenter_password }}
                    {{ form.reenter_password.label_tag }}
                    {% if form.reenter_password.errors %}
                    <div class="form__item-error" data-id-error="reenter_password">
                        {{ form.reenter_password.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form_buttons">
                <button class="form__accent-button" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/handleInputsValidation.js' %}"></script>
{% endblock %}