{% extends 'base.html' %}
{% load static %}
{% block title %} Сброс пароля - Commery{% endblock %}
{% block content %}
<div class="wrapper_first">
    {% include 'includes/unquthorized_header.html' %}

    <div class="common__content-wrapper">
      <h1 style="margin-bottom: 10px;">Мы отправили на Вашу электронную почту инструкции по сбросу пароля.</h1>
      <p>Если Вы не получили электронное письмо, убедитесь, что Вы ввели адрес, указанный при регистрации, или проверьте папку "Спам".</p>
    </div>
</div>

<script src="{% static 'js/handleInputsValidation.js' %}"></script>
{% endblock %}