<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'images/logo_commery4.png' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/password_reset_test.css' %}">
  <title>Сброс пароля - Commery</title>
</head>
<body>
<main class="main">
  <div class="wrapper">
    <div class="reset_logo-wrapper">
      <img src="{% static 'images/logo_text.png' %}" alt="">
    </div>
    <div class="reset__form-wrapper">
      <div class="reset__form-header">
        <h1>Сброс пароля</h1>
        <p>Пожалуйста, введите адрес электронной почты, указанный при регистрации, и мы отправим Вам ссылку для создания нового пароля.</p>
      </div>
      <form action="." method="post" class="password_reset-form">
        {% csrf_token %}
        <div class="input__item">
          <input
                  type="email"
                  data-id="email"
                  {% if form.email.errors %} class="input_error" {% endif %}
                  name="email"
                  required
                  autocomplete="email"
                  maxlength="254"
                  id="id_email"
                  placeholder="Введите адрес почты">
          {% if form.email.errors %}
          <div class="input_footer" data-id-error="email">
            {{ form.email.errors }}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="password_reset-button">Сбросить пароль</button>
      </form>
    </div>
    <div class="reset__form-help__wrapper">
      <h2 class="reset__help-text">Вернуться на страницу <a class="reset__help-link" href="{% url 'users:login' %}">авторизации</a></h2>
    </div>
  </div>
</main>

<script src="{% static 'users/js/check_invalid_auth_inputs.js' %}"></script>
</body>
</html>