<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'images/logo_commery4.png' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/password_reset.css' %}">
  <title>Сброс пароля - Commery</title>
</head>
<body>
<main class="main">
  <div class="wrapper">
    <div class="reset_logo-wrapper">
      <img src="{% static 'images/logo_text.png' %}" alt="">
    </div>
    <div class="reset__form-wrapper">
      <div class="reset__form-header">
        <h1>Сброс пароля</h1>
        <p>Пожалуйста, задайте новый пароль.</p>
      </div>
      <form action="{% url 'users:password_reset_confirm' uid token %}" method="post" class="password_reset-form">
        {% csrf_token %}
        <div class="input__item">
          <input
                  type="password"
                  data-id="new_password1"
                  {% if form.new_password1.errors %}
                  class="input_error"
                  {% elif form.new_password2.errors %}
                  class="input_error"
                  {% endif %}
                  name="new_password1"
                  required
                  autocomplete="new-password"
                  id="id_new_password1"
                  placeholder="Введите пароль">
          {% if form.new_password1.errors %}
          <div class="input_footer" data-id-error="new_password1">
            {{ form.new_password1.errors }}
          </div>
          {% endif %}
        </div>
        <div class="input__item">
          <input
                  type="password"
                  data-id="new_password2"
                  {% if form.new_password2.errors %} class="input_error" {% endif %}
                  name="new_password2"
                  required
                  autocomplete="new-password"
                  id="id_new_password2"
                  placeholder="Повторите пароль">
          {% if form.new_password2.errors %}
          <div class="input_footer" data-id-error="new_password2">
            {{ form.new_password2.errors }}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="password_reset-button">Сохранить пароль</button>
      </form>
    </div>
  </div>
</main>

<script src="{% static 'users/js/check_invalid_auth_inputs.js' %}"></script>
</body>
</html>