{% extends 'users/authentication/auth_base.html' %}
{% load static %}
{% block title %} Смена пароля - Commery {% endblock %}
{% block content %}
<div class="password_reset-wrapper">
  <h1>Задайте новый пароль</h1>
  <form action="{% url 'users:password_reset_confirm' uid token %}" method="post" class="password_reset-form">
    {% csrf_token %}
    {{ form.new_password1 }}
    {{ form.new_password2 }}
    <span class="input_error-email">{{ form.new_password2.errors }}</span>
    <button type="submit" class="password_reset-button">сохранить пароль</button>
  </form>
</div>

<script>
    const emailInput = document.getElementById('id_new_password1')
    const errorsBlock = document.querySelector('.input_error-email')

    emailInput.addEventListener('input', function (e) {
        e.target.removeAttribute("style")
        errorsBlock.style.display = 'none'
    })
</script>
{% endblock %}