{% extends 'base.html' %}
{% load static %}
{% block title %} Сброс пароля - Commery{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/common_form.css' %}">
{% endblock %}
{% block content %}
<div class="form-wrapper">
    <form action="." method="post" class="common-form">
        {% csrf_token %}
        <h1>Введите email, указанный при регистрации, и мы отправим ссылку для сброса пароля</h1>
        <div class="form-items">
            <div class="form__item {% if form.email.errors %} input__item-error {% endif %}">
                {{ form.email }}
                {{ form.email.label_tag }}
                {% if form.email.errors %}
                <div class="form__item-error" data-id-error="email">
                    {{ form.email.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form_buttons">
            <button class="form__accent-button" type="submit">Сбросить пароль</button>
        </div>
    </form>
</div>

<script src="{% static 'js/handleInputsValidation.js' %}"></script>
{% endblock %}