.main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.wrapper {
    background-color: white;
    display: flex;
    padding: 40px 25px;
    gap: 40px;
    max-width: 360px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.wrapper h1 {
    font-weight: bold;
}

.wrapper p {
    text-align: center;
    font-size: 14px;
    color: #888888;
}

.confirm_logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.confirm_logo-wrapper img {
    width: 125px;
    height: 40px;
}

.confirm_logo-wrapper h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.confirm__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.confirm__form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.resend_email-counter {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.resend_email-counter.hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.confirm__form-header p {
    line-height: 17px;
}


.confirm_reset-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 313px;
}

.confirm_reset-form button {
    width: 100%;
    color: white;
    background-color: #ff8364;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
}

.confirm_reset-form button:hover {
    transition: .5s;
    background-color: #f65731;
}

.confirm_reset-form button:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 106, 72, 0.2);
}