.password_reset-wrapper {
    text-align: center;
}

.password_reset-wrapper h1 {
    font-weight: bold;
    font-size: 34px;
}

.password_reset-wrapper p {
    font-size: 17px;
    max-width: 442px;
    margin-top: 36px;
}

.password_reset-form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 34px;
    gap: 20px;
}

.password_reset-button {
    background-color: #f65731;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    border-radius: 7px;
    padding: 15px 22px;
}

.password_reset-input {
    padding: 17px 49px;
    border-radius: 7px;
    font-size: 17px;
}

.password_reset-input::-webkit-input-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.password_reset-input::-moz-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.password_reset-input:-moz-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.password_reset-input:-ms-input-placeholder {
    color:#b3b3b3;
    text-align: center;
}