.main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.wrapper {
    background-color: white;
    display: flex;
    padding: 40px 25px;
    gap: 40px;
    max-width: 360px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.wrapper h1 {
    font-weight: bold;
}

.wrapper p {
    text-align: center;
    font-size: 14px;
    color: #888888;
}

.reset_logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reset_logo-wrapper img {
    width: 125px;
    height: 40px;
}

.reset_logo-wrapper h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.reset__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reset__form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.reset__form-header p {
    line-height: 17px;
}

.password_reset-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 313px;
}

.password_reset-form button {
    width: 100%;
    color: white;
    background-color: #ff8364;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
}

.password_reset-form button:hover {
    transition: .5s;
    background-color: #f65731;
}

.password_reset-form button:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 106, 72, 0.2);
}

.input__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input__item input {
    border: 1px solid #CCCCCC;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
}

.input__item input:focus {
    border: 1px solid #ff8364;
}

.input_footer {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.input_footer.hidden {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.input_footer ul>li {
    font-size: 14px;
    color: #ff5722;
}

.input_error {
    border: 1px solid #ff8364 !important;
    background-color: #f9f1f1;
}

.reset__form-help__wrapper {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.reset__help-text {
    font-size: 14px;
    color: #888888;
}

.reset__help-link {
    color: #ff8364 !important;
}

.reset__help-link:hover {
    text-decoration: underline;
}

.reset__help-link:focus {
    text-decoration: underline;
}