.account_main-wrapper {
    width: 100%;
    border-radius: 10px;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
}

.account_content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 29px;
}

.account_nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.account_nav-menu {
    width: 344px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 13px;
    border-bottom: 2px solid white;
}

.account_nav-link {
    font-size: 14px;
    font-weight: bold;
}

.account_nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff8364;
    transition: width .3s;
}

.nav_link-active::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #ff8364;
}

.account_nav-link:hover::after {
    width: 100%;
}

.account_footer-main {
    background-color: #ffffff;
    display: flex;
    padding: 50px 30px 50px 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    width: 455px;
}

.video_tour-block {
    background: url("/static/images/banner.png") center / 455px no-repeat;
    padding: 50px 30px 50px 30px;
    width: 455px;
    height: 310px;
    border-radius: 7px;
}

.video_tour-block a {
    height: 100%;
    width: 100%;
}

.email_text {
    font-weight: bold;
    font-size: 14px;
    overflow: scroll;
    max-width: 150px;
    overflow-y: hidden;
}

.email_text::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.email_label {
    text-transform: uppercase;
    font-size: 8px;
    color: #9c9a9a;
    margin-top: 10px;
}

.change_password-link {
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: underline;
    margin-top: 14px;
}

.change_password-link:hover {
    text-decoration: none;
}

.logout {
    margin-top: 51px;
    text-transform: uppercase;
    font-size: 8px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 7px 35px;
    font-weight: bold;
    margin-bottom: 48px;
}

.document_link {
    text-decoration: underline;
    font-size: 8px;
    text-transform: uppercase;
    margin-bottom: 5px;
}


.tariffs_title {
    text-align: center;
    margin-bottom: 20px;
}


.tariffs_title h1 {
    font-weight: bold;
    font-size: 25px;
}

.tariff_block-wrapper {
    display: flex;
    gap: 20px;
}

.tariff_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tariff_main-content {
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 40px 20px;
}

.tariff_main-free {
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px 160px 20px;
}

.tariff_active {
    border: 1px solid #ff8364;
}

.active_info-block {
    min-height: 41px;
}

.active_info-top {
    text-align: center;
    background-color: #ff8364;
    color: white;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

.active_info-duration {
    color: #9c9a9a;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 7px;
}

.tariff_duration-block {
    border-radius: 7px;
    border: 1px solid #dbdbdb;
    padding: 8px 60px;
}

.tariff_duration-text {
    font-size: 14px;
}

.tariff_prices-block {
    margin-top: 10px;
    min-height: 69px;
}

.tariff_price {
    font-size: 34px;
    font-weight: bold;
}

.tariff_subprice {
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
    font-weight: bold;
}

.percent_sale-block {
    min-height: 29px;
}

.percent_sale {
    font-size: 25px;
    font-weight: bold;
    color: #f65731;
}

.connect_tariff-btn {
    background-color: #f65731;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    font-size: 8px;
    padding: 8px 23px;
}

.connect_tariff-block {
    min-height: 25px;
}


.tariff_footer {
    text-align: center;
    margin-top: 16px;
}

.tariff_footer-desc {
    font-size: 14px;
    margin-top: 3px;
    line-height: 20px;
}

.tariff_footer img {
    height: 25px;
    width: 25px;
    margin: 0 auto;
}

.tariff_demo-text {
    font-size: 21px;
    font-weight: bold;
    margin-top: 7px;
}

.account_footer-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 67px;
}


.company_main-wrapper {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.company_title-wrapper h1 {
    font-size: 25px;
    font-weight: bold;
}

.company-edit-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company_edit-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.company_edit-item {
    background-color: white;
    border: 1px solid #dbdbdb;
    width: 689px;
    border-radius: 10px;
    padding: 20px;
}

.company_edit-form {
    display: flex;
    flex-direction: column;
}

.company_edit-middle {
    margin-left: 20px;
}

.company_edit-top {
    background-color: #f4f4f4;
    padding: 20px 23px 5px 23px;
    border-radius: 10px;
}

.company_edit-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.shop_name-input {
    border-radius: 7px;
    border: 1px solid #dbdbdb;
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.company_edit-name label {
    font-size: 8px;
    color: #9c9a9a;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}


.company_edit-key {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.company_edit-key label {
    font-size: 8px;
    color: #9c9a9a;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}

.api_key-input {
    font-size: 8px;
    padding: 20px 34px 26px 20px;
    border-radius: 7px;
    line-height: 20px;
    border: 1px solid #dbdbdb;
    resize: none;
    outline: none;
}

.middle_info-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_edit-key a {
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer_title {
    font-size: 17px;
    font-weight: bold;
}

.help_info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 8px;
}

.help_info-wrapper img {
    width: 14px;
    height: 14px;
}

.help_info-wrapper p {
    color: #9c9a9a;
    font-size: 8px;
    text-transform: uppercase;
}

.tax_inputs-item {
    display: flex;
    gap: 20px;
    background-color: #f4f4f4;
    align-items: center;
    padding: 20px 20px 15px 20px;
    width: 323px;
    border-radius: 10px;
}

.delete_tax-input {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: underline;
}

.input-item input {
    width: 170px;
    border-radius: 7px;
    border: 1px solid #dbdbdb;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 25px;
    text-align: center;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.input-item label {
    color: #9c9a9a;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
}

.input_item-checkbox {
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    gap: 8px;
    padding-bottom: 16px;
    font-weight: bold;
    align-items: center;
}

.add_tax-button {
    color: #ff8364;
    font-size: 8px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 20px;
    width: 12%;
}

.company_edit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 19px;
    align-items: center;
    margin-top: 20px;
}

.cancel_link {
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: underline;
}

.send_form-button {
    background-color: #ff8364;
    color: white;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 8px 25px;
    transition: 0.3s;
}

.send_form-button:hover {
    background-color: #ff6600;
}

.company_info-item {
    border: 1px solid #dbdbdb;
    width: 689px;
    border-radius: 10px;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}

.company_info-header h1 {
    font-size: 17px;
    font-weight: bold;
}


.company_info-header p {
    font-size: 8px;
    text-transform: uppercase;
    color: #9c9a9a;
    line-height: 20px;
}

.company_info-middle {
    margin-top: 14px;
}

.api_key-background {
    height: 34px;
    width: 153px;
    border-radius: 7px;
    background-color: #dbdbdb;
}

.company_info-middle p {
    text-transform: uppercase;
    font-size: 8px;
    line-height: 20px;
    color: #9c9a9a;
}

.company_info-footer {
    margin-top: 14px;
}

.company_tax-item {
    display: flex;
    margin-top: 19px;
    gap: 40px;
}

.tax_data-item {
    text-align: center;
}

.tax_data-item h1 {
    font-size: 17px;
    font-weight: bold;
}

.tax_data-item p {
    font-size: 8px;
    color: #9c9a9a;
    text-transform: uppercase;
}


.company_info-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.delete_company-form button {
    font-size: 8px;
    text-decoration: underline;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.delete_company-form button:hover {
    text-decoration: none;
}

.company_info-links a {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 13px;
    border: 1px solid black;
}


.tax_current-date {
    display: flex;
    align-items: center;
    gap: 7px;
}

.tax_current-date p {
    text-transform: uppercase;
    font-size: 8px;
}

.rounded_checkbox-block {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

.rounded_checkbox-inner {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    background-color: black;
}

/*CHANGE PASSWORD STYLES*/
.password_change-container {
    display: flex;
    width: 322px;
    margin: 200px auto 0 auto;
    background-color: white;
    padding: 45px 40px 45px 40px;
    border-radius: 10px;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.change_password-btn {
    background-color: #ff8364;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.change_password-btn:hover {
    background-color: #ff6600;
}

.change_password-errors {
    color: #ff8364;
    font-size: 11px;
}

.change_password-cancel {
    text-decoration: underline;
    font-size: 11px;
}

.change_password-cancel:hover {
    text-decoration: none;
}

.password_change-wrapper {
    display: none;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.password_change-wrapper h1 {
    font-weight: bold;
    font-size: 21px;
}

.change_password-input {
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding: 15px 21px;

}

.change_password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.change_password-input::-webkit-input-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.change_password-input::-moz-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.change_password-input:-moz-placeholder {
    color:#b3b3b3;
    text-align: center;
}
.change_password-input:-ms-input-placeholder {
    color:#b3b3b3;
    text-align: center;
}


/*CHANGE PASSWORD STYLES END*/

/*DELETE COMPANY STYLES*/
.delete_warning-wrapper {
    display: none;
    z-index: 1;
    width:100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.delete_warning-container {
    display: flex;
    border: 1px solid #ff8364;
    width: 436px;
    margin: 200px auto 0 auto;
    background-color: white;
    padding: 35px 40px 41px 40px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}

.delete_warning-img {
    height: 40px;
    width: 40px;
}

.delete_warning-text {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 17px;
}

.delete_warning-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cancel_delete-button {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px;
    padding: 7px 20px 7px 20px;
    text-align: center;
}

.accept_delete-button {
    background-color: #ff8364;
    border-radius: 30px;
    border: none;
    font-size: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    padding: 9px 20px 9px 20px;
}

.accept_delete-button:hover {
    background-color: #ff6600;
}
/*DELETE COMPANY STYLES END*/

/*PASSWORD RESET START*/

/*PASSWORD RESET END*/