.taxes-wrapper {
    display: flex;
    gap: 20px;
}

.taxes-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
}

.taxes-table {
    text-align: center;
    border-collapse: collapse;
}

.tr-header {
    font-weight: bold;
    color: var(--var-common-text-color);
    font-size: 10px;
    line-height: 15px;
}

.tr-header th {
    width: 86px;
}

.tr-content {
    border-bottom: 1px solid var(--var-border-color);
}

.tr-content td {
    max-width: 86px;
    padding: 24px 0 10px 0;
    font-weight: normal;
    color: var(--var-accent-text-color) !important;
    font-size: 10px;
    line-height: 15px;
}

.last__taxes-body {
    margin-left: 11px;
}

.taxes__add-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.change__taxes-button {
    display: flex;
    align-items: center;
    margin-left: 11px;
}


.tax_form-wrapper {
    display: flex;
    border: 1px solid var(--var-border-color);
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
    gap: 11px;
    flex-direction: column;
}

.tax_form {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.tax__form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tax_form input {
    max-width: 156px;
}

.tax__create-cancel {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #5C659D;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
}